################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Screensaver
/Classe Modelagem/.vs/Classe Modelagem/v17/ipch/AutoPCH/cb6ce57a32789764/GROUP.ipch
/Classe Modelagem/.vs/Classe Modelagem/v17/ipch/AutoPCH/cb6ce57a32789764
/Classe Modelagem/.vs/Classe Modelagem/v17/ipch/AutoPCH/c789b0bc13ee9dea/MATERIAL.ipch
/Classe Modelagem/.vs/Classe Modelagem/v17/ipch/AutoPCH/c789b0bc13ee9dea
/Classe Modelagem/.vs/Classe Modelagem/v17/ipch/AutoPCH/c3c0ead6da61c9f6/MAIN.ipch
/Classe Modelagem/.vs/Classe Modelagem/v17/ipch/AutoPCH/c3c0ead6da61c9f6
/Classe Modelagem/.vs/Classe Modelagem/v17/ipch/AutoPCH/a06dd37e469416df/PROGRAM.ipch
/Classe Modelagem/.vs/Classe Modelagem/v17/ipch/AutoPCH/a06dd37e469416df
/Classe Modelagem/.vs/Classe Modelagem/v17/ipch/AutoPCH/5d1412eaf8f334f1/OBJREADER.ipch
/Classe Modelagem/.vs/Classe Modelagem/v17/ipch/AutoPCH/5d1412eaf8f334f1
/Classe Modelagem/.vs/Classe Modelagem/v17/ipch/AutoPCH/4642785cd1ee3a3e/MESH.ipch
/Classe Modelagem/.vs/Classe Modelagem/v17/ipch/AutoPCH/4642785cd1ee3a3e
/Classe Modelagem/.vs/Classe Modelagem/v17/ipch/AutoPCH/3d146492805ee852/FACE.ipch
/Classe Modelagem/.vs/Classe Modelagem/v17/ipch/AutoPCH/3d146492805ee852
/Classe Modelagem/.vs/Classe Modelagem/v17/ipch/AutoPCH/1f10db48f9074bf5/OBJ3D.ipch
/Classe Modelagem/.vs/Classe Modelagem/v17/ipch/AutoPCH/1f10db48f9074bf5
/Classe Modelagem/.vs/Classe Modelagem/v17/ipch/AutoPCH
/Classe Modelagem/.vs/Classe Modelagem/v17/Browse.VC.opendb
/Classe Modelagem/.vs/Classe Modelagem/v17/Browse.VC.db-wal
/Classe Modelagem/.vs/Classe Modelagem/v17/Browse.VC.db-shm
/Classe Modelagem/.vs/Classe Modelagem/v17/Browse.VC.db
/Classe Modelagem/.vs/Classe Modelagem/v17/.suo
/Classe Modelagem/.vs/Classe Modelagem/v17
/Classe Modelagem/.vs/Classe Modelagem/FileContentIndex/read.lock
/Classe Modelagem/.vs/Classe Modelagem/FileContentIndex/f0da748d-6d81-48d0-9963-7adc8ce0d780.vsidx
/Classe Modelagem/.vs/Classe Modelagem/FileContentIndex/c6a7677e-d429-4fd2-a2fe-4ee6b3662e62.vsidx
/Classe Modelagem/.vs/Classe Modelagem/FileContentIndex/57b447cf-c4dc-4576-958e-04df1f5637e3.vsidx
/Classe Modelagem/.vs/Classe Modelagem/FileContentIndex/30da2db2-8531-406d-9def-6a94deca9a23.vsidx
/Classe Modelagem/.vs/Classe Modelagem/FileContentIndex
/Classe Modelagem/.vs/Classe Modelagem
GrauA/.vs/GrauA/FileContentIndex/27ee8d28-197b-4a30-90af-bd120eb4dca4.vsidx
GrauA/.vs/GrauA/FileContentIndex/7a36424c-1b29-4324-8af0-6044d31b5bde.vsidx
GrauA/.vs/GrauA/FileContentIndex/7b5eb6a0-b06e-4012-8569-38da507e5e29.vsidx
GrauA/.vs/GrauA/FileContentIndex/ef14415c-e602-4272-bedd-aa5761135701.vsidx
GrauA/.vs/GrauA/FileContentIndex/read.lock
GrauA/.vs/GrauA/v17/.suo
GrauA/.vs/GrauA/v17/Browse.VC.db
GrauA/.vs/GrauA/v17/Browse.VC.db-shm
GrauA/.vs/GrauA/v17/Browse.VC.db-wal
GrauA/.vs/GrauA/v17/Browse.VC.opendb
GrauA/.vs/GrauA/v17/ipch/AutoPCH/39c69e8a858a1d7e/MESH.ipch
GrauA/.vs/GrauA/v17/ipch/AutoPCH/7a43ea4acaddb51f/PROGRAM.ipch
GrauA/.vs/GrauA/v17/ipch/AutoPCH/9e3dcd7b86630c92/FACE.ipch
GrauA/.vs/GrauA/v17/ipch/AutoPCH/b4ebd2b2218ebf31/OBJREADER.ipch
GrauA/.vs/GrauA/v17/ipch/AutoPCH/be691720be5683e8/OBJREADER.ipch
GrauA/.vs/GrauA/v17/ipch/AutoPCH/c5f4796545936063/MATERIAL.ipch
GrauA/.vs/GrauA/v17/ipch/AutoPCH/e55e8be9084278a4/GROUP.ipch
GrauA/.vs/GrauA/v17/ipch/AutoPCH/e780a94e0405e12a/MATERIAL.ipch
GrauA/.vs/GrauA/v17/ipch/AutoPCH/fd834ebacff322eb/OBJREADER.ipch
